/* Animation */
.ripple-white {
	background-position: center !important;
	transition: background 400ms !important;

	&:hover {
		background: #ebebeb radial-gradient(circle, transparent 1%, #ebebeb 1%)
			center/15000% !important;
	}

	&:active {
		background-color: #c9c9c9 !important;
		background-size: 100% !important;
		transition: background 0s !important;
	}
}

.ripple-blue {
	background-position: center !important;
	transition: background 0.8s !important;

	&:hover {
		background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
			center/15000% !important;
	}

	&:active {
		background-color: #6eb9f7 !important;
		background-size: 100% !important;
		transition: background 0s !important;
	}
}
