// Custom Fonts
@font-face {
    font-family: "Kelson Sans";
    src: url("../fonts/KelsonSans-Normal.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/KelsonSans-Normal.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/KelsonSans-Normal.woff") format("woff"),
        /* Pretty Modern Browsers */
        url("../fonts/KelsonSans-Normal.ttf") format("truetype")
        /* Safari, Android, iOS */
    ;
    font-weight: normal;
}

@font-face {
    font-family: "Kelson Sans";
    src: url("../fonts/KelsonSans-Bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/KelsonSans-Bold.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/KelsonSans-Bold.woff") format("woff"),
        /* Pretty Modern Browsers */
        url("../fonts/KelsonSans-Bold.ttf") format("truetype")
        /* Safari, Android, iOS */
    ;
    font-weight: bold;
}

@font-face {
    font-family: "Kelson Sans";
    src: url("../fonts/KelsonSans-Light.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/KelsonSans-Light.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/KelsonSans-Light.woff") format("woff"),
        /* Pretty Modern Browsers */
        url("../fonts/KelsonSans-Light.ttf") format("truetype")
        /* Safari, Android, iOS */
    ;
    font-weight: 100;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-Book.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-BookItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-Light.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("../fonts/CooperHewitt-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}