// Utilities
.material-icons {
    font-size: inherit;
    user-select: none;
}

.color-primary {
    color: $primary-color !important;
}

.link {
    cursor: pointer !important;
}

.shadow {
    box-shadow: $shadow-sm !important;
}

.button {
    padding: 0.9rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: white;
    border-radius: 1rem;
    user-select: none;
}

.percent::after {
    content: "%";
    font-size: 80%;
    margin-left: 1.3%;
}

.hidden {
    display: none !important;
}