// Variables
$primary-color: #2e7ded;
$secondary-color: #c0c0c0;
$shadow-sm: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
$shadow-lg: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
$shadow-none: 0 0 0 0 rgba(0, 0, 0, 0);
$font-kelson: "Kelson Sans",
sans-serif;
$font-cooper: "Cooper Hewitt",
sans-serif;