// Variables
$shadow-sm: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:host {
	font-family: "Cooper Hewitt", sans-serif;
	text-align: center;
	line-height: 1.4em;
	position: fixed;
	opacity: 0;
	bottom: -3.5rem;
	left: 1.5rem;
	background: white;
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	color: black;
	box-shadow: $shadow-sm;
	transition: opacity 400ms ease-in-out, bottom 400ms ease-in-out;
	z-index: 10;
}

@media (max-width: 890px) {
	:host {
		right: 1.5rem;
	}
}
